{% extends "base.html" %}

{% load static %}

{% block page-title %}
О проекте
{% endblock %}

{% block page-css %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block page-lead %}
<div class="container">
<h1 class="text-left mb-4">О проекте</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
 <p class="card-text">
     Данный проект реализует веб-сервис на тему изучения английского языка.<br />
     Данный проект написан на языке Python версии 3.12.<br />
     Используются фреймворки Django и Boostrap.<br />
     ANKI карточки хранятся в базе данных SQLite3.<br />
     Картинки от ANKI карточек хранятся в директории проекта <b>media/cards_images/</b>.<br />
 </p>
</div>

{% endblock %}