{% extends "base.html" %}

{% load static %}

{% block page-title %}
Добавить карточку
{% endblock %}

{% block page-css %}
<link href="{% static 'css/add_card.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row g-4">
      <div class="col-md-4">

          <div class="form-container">
        <h2>Добавить новую карточку</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                {{ form.russian_word.label_tag }}
                {{ form.russian_word }}
                {% if form.russian_word.errors %}
                    <div class="error">{{ form.russian_word.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.english_word.label_tag }}
                {{ form.english_word }}
                {% if form.english_word.errors %}
                    <div class="error">{{ form.english_word.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>

            <button type="submit" class="btn btn-primary">Сохранить карточку</button>
        </form>
    </div>
    </div>
      <div class="col-md-8">
          <h2 class="mt-4">Форма добавления новой карточки</h2>
         <p>Данная форма предназначена для добавления новой карточки.<br />
             Текстовая информация записывается в базу данных <strong>SQLite3</strong>.<br />
             Картинки загружаются в директорию <b>media/cards_images</b>.<br />
             Данные формы передаются методом <b>POST</b>.
         </p>
      </div>
    </div>

{% endblock %}