<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16.png' %}" sizes="16x16" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32.png' %}" sizes="32x32" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-57.png' %}" sizes="57x57" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-60.png' %}" sizes="60x60" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-70.png' %}" sizes="70x70" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-72.png' %}" sizes="72x72" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-76.png' %}" sizes="76x76" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96.png' %}" sizes="96x96" >

{% load active_link_tags %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-xl">
    <a class="navbar-brand" href="#">
        <img src="{% static 'favicon/favicon-60.png' %}" alt="Language Simulator" width="60" height="60">
        Language Simulator
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% active_link 'index' strict=True %}" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'about' strict=True %}" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>

        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-5">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© 2025</footer>
    </div>
</main>
<!-- JS -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>