<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block page-title %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block page-css %}{% endblock %}
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16.png' %}" sizes="16x16" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32.png' %}" sizes="32x32" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-57.png' %}" sizes="57x57" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-60.png' %}" sizes="60x60" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-70.png' %}" sizes="70x70" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-72.png' %}" sizes="72x72" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-76.png' %}" sizes="76x76" >
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96.png' %}" sizes="96x96" >

{% load active_link_tags %}
</head>
<body>
<!-- BEGIN Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-xl">
    <a class="navbar-brand" href="/">
        <img src="{% static 'favicon/favicon-60.png' %}" alt="Anki Simulator" width="60" height="60">
        ANKI Тренажер
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% active_link 'index' strict=True %}" href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'exercise_card' strict=True %}" href="{% url 'exercise_card' %}">Запустить тест</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'stats' strict=True %}" href="{% url 'stats' %}">Статистика</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Anki карточки
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item {% active_link 'add_card' strict=True %}" href="{% url 'add_card' %}">Добавить карточку</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item {% active_link 'cards_list' strict=True %}" href="{% url 'cards_list' %}">Список карточек</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'about' strict=True %}" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END Navbar -->
<main>
<div class="container">
{% block page-lead %}{% endblock %}


        {% block content %}{% endblock %}
    </div>
</main>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
        <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2025 <a class="text-body-secondary" href="https://github.com/andrsharov/" aria-label="@andrsharov">Andrei Sharov</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/andrsharov/language-simulator/" aria-label="GitHub"><img src="{% static 'images/GitHub_Logo.png' %}" class="img-fluid" alt="GitHub" width="100" height="41"></a></li>
    </ul>
  </footer>
</div>

<!-- JS -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>