{% extends "base.html" %}
{% load static %}
{% block page-title %}
Тренажер для изучения английского языка
{% endblock %}
{% block page-css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block page-lead %}
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ANKI Тренажер</h1>
        <p class="lead text-muted">Сайт для облегчения запоминания слов, выражений и любой другой информации с помощью интервальных повторений.</p>
        <p>
          <a href="/exercise_card/" class="btn btn-primary my-2">Запустить тест</a>
          <a href="/stats/" class="btn btn-secondary my-2">Статистика</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}

{% endblock %}
